/************
reset
*************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "PT Sans", sans-serif;
}

:root {
    --header-blue : #0084FD;
    --main-skyblue : #B5DDFF;
    --main-purple : #9692E4;
    --main-text : #5B6F80;
    --footer-yellow : #fdc15f;
    --footer-background : #333333;
    --hover-color : #fcfc3e;
    --white : #ffffff;
}

/************
color
*************/

/*header*/
.header.container {
    background-color: var(--header-blue);
}
header .container i {
    color: white;
}
.header .row .desk-list ul button {
    background-color: var(--white);
    color: var(--footer-background);
}

/*main*/
.main .row .card {
    background-color: var(--main-skyblue);
}
.main .row .card p {
    color: var(--main-text);
}
.main .row .card h2 {
    color: var(--header-blue);
}
.main .row .card .button {
    background-color: var(--header-blue);
}
.main .row .card-min i {
    color: var(--header-blue);
}

.main .purple-section {
    background-color: var(--main-purple);
}
.main .purple-section .row .card {
    background-color: var(--white);
}
.main .purple-section .row .card h2 {
    color: black;
}
.main .purple-section .row .purple-card h2 {
    color: var(--white);
}
.main .purple-section .row .purple-card p {
    color: var(--white);
}
.main .purple-section .row .card i {
    background-color: var(--main-purple);
}

.main .white-section .row h3 {
    color: var(--main-purple);
}
.main .white-section .row .purple-card {
    background-color: var(--main-purple);  
}
.main .white-section .row .purple-card p {
    color: var(--white);  
}
.main .white-section .row .purple-card h2 {
    color: var(--white);  
}

.main .second-purple .row div > h1 {
    color: white;
}
.main .second-purple .row .purple-button {
    background-color: var(--main-purple);
}
.main .second-purple .row .card > *:not(p, .purple-button) {
    color: var(--main-purple);
}

.main .second-white .row .purple-text {
    color: var(--main-purple);
}
.main .second-white .row .purple-button {
    background-color: var(--main-purple);
}
/*footer*/
.footer.container {
    color: var(--footer-yellow);
    background-color: var(--footer-background);
}
.footer .purple-section {
    background-color: var(--main-purple);
}
footer  .row h3 {
    color: var(--white);
}
footer  .row h2 {
    color: var(--white);
}
footer  .row p {
    color: var(--white);
}
/************
general
************/

/*header*/
.container {
    margin: 0 auto;
    width: 576px;
}
body .row {
    width: 70%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    
}
ul {
    list-style: none;
}
.header .row .desk-list ul button {
    padding: 10px;
}
.header i {
    font-size: 1.5rem;
}
.header .row .desk-list ul li {
    padding: 0 10px;
}
.header .row .desk-list ul a {
    text-decoration: none;
}

/*main*/
.img-phone {
    width: 250px;
}
.button {
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    background-color: none;
    color: var(--white);
}
.button:hover {
    transition: 0.5s;
    color: var(--hover-color);
}

.testimonial {
    text-align: center;
}
.testimonial > * {
    margin-bottom: 30px;
}

.main .second-purple .row > h1 {
    text-align: center;
}
.main .second-purple .row .card > * {
    margin: 20px 0;
}

/*footer*/
.footer .row > p {
    font-size: 0.8rem;
}
.footer .purple-section .row > h1 {
    font-size: 4rem;
}
.footer .purple-section .row > h2 {
    font-size: 2rem;
}

/************
header
************/
.header .row {
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header .row > div {
    align-content: center;
}


header ul {
    display: flex;
    align-items: center;
}

.desk-list {
    display: none;
}


/************
main
************/
.main .row .card {
    display: block;
    border-radius: 25px;
    margin: 20px 0;
    padding: 20px;
}   
.main .white-section .row {
    padding: 50px 0;
}
.main .row .card h2 {
    margin-bottom: 20px;
}
.main .row .card > div {
    padding: 10px 0;
    text-align: center;
}
.main .row .card button {
    margin-top: 20px;
}
.main .row .card-min i {
    font-size: 5rem;
}
.main .row .special-card {
    padding-bottom: 0;
}
.main .row .special-card img {
    padding-bottom: 0;
}
.main .row .special-card :nth-child(2) {
    padding-bottom: 0;
}

.main .purple-section .row {
    padding: 50px 0;
}
.main .purple-section .row .purple-card {
    background: none;
}
.main .purple-section .row .card i {
    padding: 20px;
    border-radius: 50%;
}
.main .white-section .row .purple-card img {
    border-radius: 50%;
}

.main .second-white .row div > * {
    margin: 30px 0;
}
.main .second-white .row h1 {
    font-size: 3rem;
}
.main .second-white .row .purple-p {
    font-size: 2rem;
}
.main .second-white .row img {
    border-radius: 50%;
}
/************
footer
************/
.footer .purple-section .row {
    padding: 50px 0;
}
.footer .purple-section .row > * {
    margin: 20px 0;
    text-align: center;
}
.footer .purple-section .row button {
    border: none;
    border-radius: 20px;
    padding: 15px 50px;
    color: var(--main-purple);
}
.footer .black-section .row > * {
    padding: 30px 0;
    text-align: center;
}

/************
responive tablet
************/

@media screen and (min-width: 576px) {
    .container {
        width: 100%;
    }
    .main .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main .row .card {
        width: calc((100% / 3) - 20px);
    }
    .main .row .special-card {
        width: calc((100% / 3) * 2);
    }
    .main .purple-section .row .card {
        width: 100%;
    }
    .main .white-section .row .purple-card {
        width: 100%;
        display: flex;
    }

    .main .second-purple .row .card {
        width: 45%;
    }
    .main .second-purple .row > h1 {
        text-align: center;
    }

    .main .second-purple .row .row-card-purple {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main .second-purple .row-card-purple .card {
        width: calc((100%/3)-20px);
    }
    
}

/************
responsive desktop
************/
@media screen and (min-width: 992px) {
    .desk-list {
        display: block;
    }
    .desk-bar {
        display: none;
    }

    .main .row .special-card {
        display: flex;
    }
    .main .row .special-card > div {
        width: 50%;
    }

    .main .purple-section .row .card {
        width: 50%;
    }
    .main .second-purple .row .row-card-purple .card {
        width: 30%;
    }

    .main .second-white .row {
        display: flex;
    }
    .main .second-white .row > div {
        width: 40%;
    }
}