/************
reset
*************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "PT Sans", sans-serif;
}

:root {
    --header-blue : #0084FD;
    --main-skyblue : #B5DDFF;
    --main-purple : #9692E4;
    --main-text : #5B6F80;
    --footer-yellow : #fdc15f;
    --footer-background : #333333;
    --hover-color : #fcfc3e;
    --white : #ffffff;
}

/************
preject color
*************/

/*header*/
.header.container {
    background-color: var(--header-blue);
}
header .container i {
    color: white;
}

/*main*/
.main .row .card {
    background-color: var(--main-skyblue);
}
.main .row .card p {
    color: var(--main-text);
}
.main .row .card h2 {
    color: var(--header-blue);
}
.main .row .card .button {
    background-color: var(--header-blue);
}
.main .row .card-min i {
    color: var(--header-blue);
}

/*footer*/
.footer.container {
    color: var(--footer-yellow);
    background-color: var(--footer-background);
}

/************
general
************/

/*header*/
.container {
    margin: 0 auto;
    width: 576px;
}
body .row {
    width: 70%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    
}
ul {
    list-style: none;
}
.header i {
    font-size: 1.5rem;
}

/*main*/
.button {
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    background-color: none;
    color: var(--white);
}
.button:hover {
    transition: 0.5s;
    color: var(--hover-color);
}
.button:active {
    transition: 1.5s;
    border: 2px solid var(--hover-color);
}   


/************
header
************/
.header .row {
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header .row > div {
    align-content: center;
}


header ul {
    display: flex;
}

.desk-list {
    display: none;
}


/************
main
************/
.main .row .card {
    display: block;
    border-radius: 25px;
    margin: 20px 0;
    padding: 20px;
}   
.main .row .card h2 {
    margin-bottom: 20px;
}
.main .row .card > div {
    padding: 10px 0;
    text-align: center;
}
.main .row .card button {
    margin-top: 20px;
}
.main .row .card-min i {
    font-size: 5rem;
}
.main .row .special-card {
    padding-bottom: 0;
}
.main .row .special-card img {
    padding-bottom: 0;
}
.main .row .special-card :nth-child(2) {
    padding-bottom: 0;
}
/************
footer
************/


/************
responive tablet
************/

@media screen and (min-width: 576px) {
    .container {
        width: 100%;
    }
    .main .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main .row .card {
        width: calc((100% / 3) - 20px);
    }
    .main .row .special-card {
        width: calc((100% / 3) * 2);
    }
}

/************
responsive desktop
************/
@media screen and (min-width: 992px) {

}